@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Open+Sans&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;500&family=Source+Sans+Pro:wght@600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
}
